@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    width: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 10px;
    margin-bottom: 15px;
}

span {
    color: #fccd2d;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.para1 {
    font-size: 17px;
    font-weight: 400;
    color: #d3d3d3;
    margin-bottom: 30px;
}

.btn1 {
    height: 60px;
    width: 250px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}



header {
    background-image:linear-gradient(rgba(0,0,0,.6),rgb(0,0,0,0.6)), url(images/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.logo {
    width: 10%;

}

.logo img {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 1px #000;
}

.nav-bar {
    width: 1440px;
    margin: 0 auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-item {
    padding: 10px;
}

.btn {
    background-color: #fccd2d;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 1px #000;
}

.btn:hover {
    background-color: #f6be05;
}



.nav-link{
    transition: 0.7 ease;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

#involve {
    margin: 70px 0;
    background-color: #fff;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.icon-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px 10px 0 0;
    padding: 20px 0;
    background-color: rgb(252, 247, 247);
    align-items: center;
}

.icon i {
    font-size: 75px;
}

.icon-text {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.text-container1 {
    background-color: #eb3238;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}
.text-container3 {
    background-color: #eb268e;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}
.text-container2 {
    background-color: #01a55e;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.text {
    color: #fff;
    text-align: center;

}

.card {
    display: flex;
    flex-direction: column;
    width: 25%;
    box-shadow: 0px 5px 10px 1px #ccc;
    border-radius: 10px;
    /* border: 1px solid black; */
}



@media only screen and (max-width:600px){
    body,.home, header,.nav-bar{
        width: 100%;
    }

    .logo {
        width: 40%;
    }
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-link{
        color: #000;
    }


    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
        margin-top: 50px;
        z-index: 1;
        padding-bottom: 20px;
    }

    .bar {
        background-color: #fff;
    }

    h1 {
        font-size: 30px;
        line-height: 40px;
        width: 100%;
    }
}