@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    width: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 10px;
    margin-bottom: 15px;
}

span {
    color: #fccd2d;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.para1 {
    font-size: 17px;
    font-weight: 400;
    color: #d3d3d3;
    margin-bottom: 30px;
}

.btn1 {
    height: 60px;
    width: 250px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}



header {
    background-image:linear-gradient(rgba(0,0,0,.6),rgb(0,0,0,0.6)), url(images/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo{
    width: 10%;

}

.logo img {
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 1px #000;
}

.footer-logo{
    width: 40%;
}

.footer-logo img{
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 1px #000;
}

.nav-bar {
    width: 1440px;
    margin: 0 auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav-item {
    padding: 10px;
}

.btn {
    background-color: #fccd2d;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 1px #000;
}

.btn:hover {
    background-color: #f6be05;
}



.nav-link{
    transition: 0.7 ease;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}


.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/* About Section Start */

#about {
    padding: 100px 0;
    background-color: #f3f3f3;
}

.about-container {
    display: flex;
    gap: 70px;
    justify-content: center;
}

.about-img {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img img {
    border-radius: 10px;
    width: 100%;
}

.about-text {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: center;
    gap: 50px;
}

.contact {
    width: 200px;
    height: 45px;
    font-size: 16px;
    background-color: white;
    color: #fccd2d;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 5px 7px 1px #000;
}

/* About Section Ends */

/* Get Involved Section Start */

#involve {
    margin: 100px 0;
    background-color: #fff;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 55px;
}

.icon-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px 10px 0 0;
    padding: 20px 0;
    background-color: rgb(252, 247, 247);
    align-items: center;
}

.icon i {
    font-size: 75px;
}

.icon-text {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.text-container1 {
    background-color: #eb3238;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}
.text-container3 {
    background-color: #eb268e;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}
.text-container2 {
    background-color: #01a55e;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.text {
    color: #fff;
    text-align: center;

}

.card {
    display: flex;
    flex-direction: column;
    width: 25%;
    box-shadow: 0px 5px 7px 1px #000;
    border-radius: 10px;
}


/* Get Involved Section End */

/* Difference start */

.difference {
    background-color: #f3f3f3;
    /* margin-bottom: 100px; */
}

.diff-container {
    display: flex;
    gap: 70px;
}

.dif-image,.diff-text {
    width: 50%;
}

.dif-image img {
    width: 100%;
    height: 100%;
}

.diff-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.diff-text p {
    width: 70%;
}

/* Difference End */

/* Our team */

#team {
    margin: 100px 0;
}

.team-section {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.member {
    /* border: 2px solid black; */
    box-shadow: 0px 5px 7px 1px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    text-align: center;
    height: 100%;
    border-radius: 10px;
}

.member-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.post {
    font-weight: 400;
    color: #9f9e9e;
}

.mem-text {
    padding: 20px;
}

.name {
    font-size: 18px;
    font-weight: 600;
}

/* Team Ending */

/* Donation */
#donate {
    background-image:linear-gradient(rgba(0,0,0,.6),rgb(0,0,0,0.6)), url(images/rsz_bg.jpg);
    padding: 100px 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.donate-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.white {
    color: white;
}

.cash,.stuffs {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 10px;
    border: 5px solid white;
}

.num,.add {
    font-weight: 400;
    font-size: 20px;
}

/* Donation end */

/* News */
#news {
    margin: 100px 0;
}

.news1 {
    display: flex;
    justify-content: center;
}

.news-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 5px 7px 1px #000;

}

.news-img {
    width: 100%;
}

.news-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.news-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px 25px 10px;
    background-color: rgb(252, 247, 247);
    border-radius: 0 0 10px 10px;
}

.read {
    color: #eb3238;
}

/* Contact */
#contact {
    background-image:linear-gradient(rgba(0,0,0,.6),rgb(0,0,0,0.6)), url(images/contact.jpg);
    padding: 60px 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
}

.form {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
    padding: 20px;
    /* align-items: center; */
}

.fullname,.email {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    height: 40px;
    padding: 10px;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    border-radius: 10px;
}

.area {
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
}

.sub {
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50%;
    font-size: inherit;
    font-family: inherit;
    background-color: #fff;
    color: #eb268e;
    font-weight: 600;
    box-shadow: 0px 5px 7px 1px #000;
    border-radius: 10px;
}

/*  */

/* footer */

footer {
    background-color: rgb(34, 32, 32);
    padding: 50px 0;
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 30%;
}

.footer-add {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ico-add {
    display: flex;
    gap: 15px;
    color: #fff;
}

.footer-socials {
    display: flex;
    gap: 15px;
}

.footer-socials a i {
    font-size: 30px;
    color: #fff;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 15%;
    align-items: center;
    color: #fff;
}

.footer-nav ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footer-nav ul li a {
    color: #fff;
    display: flex;
    gap: 30px;
}

.latest,.instagram {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 15%;
}

.instagram {
    width: 25%;
    align-items: center;
}

.pictures {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.pics{
    display: flex;
    gap: 2px;
    width: 100%;
}

.pics img {
    width: 100%;
}

.foot {
    color: #fccd2d;
}




@media only screen and (max-width:600px){
    html,footer,main,body,.home, header,.nav-bar{
        width: 100%;
    }

    /* body {
        overflow-x: hidden;
    } */

    .container{
        width: 100%;
    }

    .logo,.footer-logo {
        width: 40%;
    }
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-link{
        color: #000;
    }


    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
        margin-top: 50px;
        z-index: 1;
        padding-bottom: 20px;
    }

    .bar {
        background-color: #fff;
    }

    h1 {
        font-size: 30px;
        line-height: 40px;
        width: 100%;
    }

    .card-container,.diff-container,.team-section,.donate-container {
        flex-direction: column;
        width: 100%;
    }


    .donate-container,.team-section,.card-container,.about-container{
        width: 100%;
    }

    .card,.about-img,.news1,.dif-image,.diff-text,.member,.member-img,.cash,.stuffs,.news-container,.form,form,.footer-items,.footer-nav,.footer-container,.area,.latest,.instagram {
        width: 100%;
    }

    .footer-logo{
        width: 50%;
    }

    .about-container {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    
    .about-text {
        align-items: center;
        width: 100%;
        text-align: center;
    }


    
    .diff-text{
        align-items: center;
        padding-bottom: 50px;
        text-align: center;
    }
    
    .diff-text p {
        width: 100%;
    }

    .footer-nav{
        align-items: unset;
    }

    /* .footer-items{
        align-items: center;
    } */

    .footer-container {
        flex-direction: column;
        gap: 30px;
    }

    #contact,#donate {
        background-attachment: scroll;

    }
}